:root{
	--cor-de-fundo : #EBECEE;
	--branco : #ffffff;
}

body{
	background-color: var(--cor-de-fundo);
}

.cabeçalho {
	background-color: var(--branco);
	display: flex;
	justify-content: space-between;
	align-items: center;
}