.banner {
    background-color: #e0218a;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em; /*2.5 x 16 que é o tamanho da fonte*/

}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--fonte-secundaria);
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: var(--fonte-principal);
    border: 1px solid var(--branco);/*borda precisa do tamanho tipo e cor*/
    color: var(--branco);
    border-radius: 24px;/**/
    padding: 1em;
    width: 100%;
}


.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("../img/lupa.svg") no-repeat;
    background-position: 1em;
}