.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*aula 2 - colocar*/
}

.container{
    display: flex;
    align-items: center;
}

.container__titulo {
    display: none;
}

.container__imagem{
    padding: 1em;
}

.container__botao {
    display: none;
}



/*hamburguer vla*/
.container__botao:checked~.container__rotulo>.cabeçalho__menu-hamburguer {/*esconde e mostra o menu*/
    background-image: url("../img/Menu Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;/*medida proporcional ao tamanho do dispositivo*/
    background-color: var(--branco);
    font-weight: 400; /*peso dos itens do menu: pouco negrito*/
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;/*peso dos itens do menu: negrito forte*/
}

.lista-menu__link {
    background: var(--branco);
    color: purple;
    background-clip: text;
    text-decoration: none;
}

/*add esse para responsividade*/
.opções {
    display: none;
}

.container__texto {
    display: none;
}

/*telas grandes*/
@media screen and (min-width: 1024px) {

.container__titulo,
.container__titulo--negrito {
        font-family: var(--fonte-secundario);
        font-size: 30px;

    }

    .container__titulo {
        display: flex;
        font-weight: 400;
        display: block;
        color: pink;
        padding-right: 2em;
        text-align: center;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        color: pink;

    }

    .opções__link {
        text-decoration: none;
        color: pink;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções__botão {
        display: none;
    }

    .opções__botão:checked~.opções__rotulo>.opções__item {
        background-color: pink;
        color: black    ;
    }

    .opções__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover>.lista-menu__link {
        color: pink;
        text-decoration: none;
    }

}

/*tablet*/
@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: yellow;
    }

    .cabeçalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }

    .container__texto {
        display: block;
        color: pink;
    }

    .container__titulo{
        display: flex;
    }
}
